<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
    <title>TeamTheOne Bot</title>
  </head>
  <body>
    <noscript>WARNING!: You don't have JavaScript enabled by your website! This can cause problems!</noscript>
    <p>We don't have dashboard yet, but let's go visit part by part the bot. It will come soon!</p>
  </body>
  <footer>
  </footer>
</html>